<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h3>Edit Forms</h3>
        <form action="/action/execute_update" method="post" enctype="multipart/form-data">
            <input type="text" name="avatar_id" value="{{ .avatar.ID }}">
            <div class="form-group mb-3">
                <label for="avatarName" class="form-label">Avatar Name</label>
                <input type="text" class="form-control" id="avatarName" name="avatar_name" value="{{ .avatar.AvatarName }}">
            </div>
            <div class="form-group mb-3">
                <label for="avatarImage" class="form-label">Avatar Image</label>
                <input type="file" class="form-control" id="avatarImage" name="avatar_image">
            </div>
            <div class="form-group mb-3">
                <input type="hidden" class="form-control" id="avatarImageOld" name="avatar_image_old" value="{{ .avatar.AvatarImage }}">
            </div>
            <div class="form-group mb-3">
                <label for="avatarUsername" class="form-label">Avatar Username</label>
                <input type="text" class="form-control" id="avatarUsername" name="avatar_username" value="{{ .avatar.AvatarUsername }}">
            </div>
            <div class="form-group mb-3">
                <label for="avatarPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="avatarPassword" name="avatar_password" value="{{ .avatar.AvatarPassword }}">
            </div>
            <div class="form-group mb-3">
                <label for="avatarEmail" class="form-label">Avatar Email</label>
                <input type="email" class="form-control" id="avatarEmail" name="avatar_email" value="{{ .avatar.AvatarEmail }}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
</body>

</html>